<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatter App</title>
</head>
<body>
    <h1>Group Name: {{groupname}}</h1>
    <textarea id="chat-log" cols="100" rows="20">
        {% for chat in chats %}
            {{ chat.content }}
        {% endfor %}
    </textarea>
    <input type="text" id="chat-message-input" size="100"> <br>
    <input type="button" value="send" id="chat-message-submit">
    {{groupname|json_script:"group-name"}}
    <script>
        const groupName = JSON.parse(document.getElementById("group-name").textContent);
        var ws = new WebSocket("ws://" + window.location.host + "/ws/awsc/" + groupName + "/");

        ws.onopen = function(event) {
            console.log("Connected to server");
        };
        ws.onmessage = function(event) {
            const data = JSON.parse(event.data)
            document.querySelector('#chat-log').value += data.msg + '\n'

        };
        ws.onclose = function(event) {
            console.log("Disconnected from server");
        };
        document.getElementById("chat-message-submit").onclick = function(event) {
            const messageInputDom = document.getElementById("chat-message-input");
            const message = messageInputDom.value;
            ws.send(JSON.stringify({
                "msg": message
            }));
            messageInputDom.value = "";
        };
    </script>
    
</body>
</html>